<html lang="en">
<head>
    <title>Menu Alerts for <%= restaurant.name %></title>
    <link rel="stylesheet" type="text/css" href="./styles.css">
</head>
<body>
    <main class="main-content">
        <h1>Menu Alerts for <%= restaurant.name %></h1>
        <p><%= alert %></p>
        <a href="/restaurant?restaurantId=<%= restaurant.id %>" class="button">Back to Menu</a>
    </main>
</body>
</html>


